<h2 mat-dialog-title>Create your new task</h2>
<mat-dialog-content>
  <p>What title would you like to give to this task?</p>
  <mat-form-field class="w-full">
    <mat-label>Title</mat-label>
    <input matInput />
  </mat-form-field>

  <p>Give a description for the task.</p>
  <mat-form-field class="w-full">
    <mat-label>Description</mat-label>
    <input matInput />
  </mat-form-field>

  <p>Pick a deadline.</p>


  <p>How urgently do you need to complete this task?</p>
  <mat-form-field class="w-full">
    <mat-label>Priority</mat-label>
    <input matInput/>
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions class="p-0">
  <button mat-button cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
