<div class="text-center w-full mt-24">

  <div class="container">
    <mat-card class="flex justify-center items-center p-4">
      <h2 class="mt-4 mb-1 text-2xl font-bold text-gray-800">To do</h2>
      <span class="bg-purple-500 w-20 h-2 rounded-full mb-8"></span>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todoTasks"
        [cdkDropListConnectedTo]="[inProgressList, doneList]"
        class="list w-11/12"
        (cdkDropListDropped)="drop($event)">
        <button (click)="openAddDialog()" id="add_task_button" type="button" class="w-full mb-4 text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Add Task</button>
        @for (task of todoTasks; track task) {
          <div class="box my-2" cdkDrag>
            <span id="{{task.id}}_task_todo_{{task.title}}" class="pl-2">{{task.title}}</span>
            <div class="bg-violet-200 text-violet-700 font-bold text-base px-1 py-1 rounded-lg shadow-lg" id="{{task.id}}_deadline_todo_{{task.title}}">
              {{task.deadline}}
            </div>
            <mat-icon id="{{task.id}}_task_todo_{{task.title}}_icon_{{task.priority}}" aria-hidden="false" aria-label="Example home icon"
                      fontIcon="{{task.priority == TaskPriority.HIGH ? 'warning' :
                                  task.priority == TaskPriority.MEDIUM ? 'check_box' :
                                  'low_priority'}}"
            ></mat-icon>

            <div>
              <button mat-mini-fab aria-label="Button to transfer to In Progress List" class="arrow_icon_background">
                <mat-icon fontIcon="arrow_back" class="text-black"></mat-icon>
              </button>

              <button mat-mini-fab aria-label="Button to transfer to nothing" class="arrow_icon_background mx-1.5">
                <mat-icon fontIcon="arrow_forward" class="text-black"></mat-icon>
              </button>

              <button mat-mini-fab aria-label="Button to delete a task" class="trash_icon_background" (click)="openDeleteDialog(task, this.todoTasks)">
                <mat-icon fontIcon="delete" class="text-white"></mat-icon>
              </button>
            </div>


          </div>
        }
      </div>
    </mat-card>
  </div>


  <div class="container">
    <mat-card class="flex justify-center items-center p-4">
      <h2 class="mt-4 mb-1 text-2xl font-bold text-gray-800">In progress</h2>
      <span class="bg-yellow-500 h-2 rounded-full mb-4" style="width: 166px"></span>
      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgressTasks"
        [cdkDropListConnectedTo]="[todoList, doneList]"
        class="list w-11/12"
        (cdkDropListDropped)="drop($event)">
        @for (task of inProgressTasks; track task) {
          <div class="box my-2" cdkDrag>
            <span id="{{task.id}}_task_inprogress_{{task.title}}">{{task.title}}</span>
            <div class="bg-violet-200 text-violet-700 font-bold text-base px-1 py-1 rounded-lg shadow-lg" id="{{task.id}}_deadline_inprogress_{{task.title}}">
              {{task.deadline}}
            </div>
            <mat-icon id="{{task.id}}_task_inprogress_{{task.title}}_icon_{{task.priority}}" aria-hidden="false" aria-label="Example home icon"
                      fontIcon="{{task.priority == TaskPriority.HIGH ? 'warning' :
                                  task.priority == TaskPriority.MEDIUM ? 'check_box' :
                                  'low_priority'}}"
            ></mat-icon>
            <div>
              <button mat-mini-fab aria-label="Button to transfer to In Progress List" class="arrow_icon_background">
                <mat-icon fontIcon="arrow_back" class="text-black"></mat-icon>
              </button>

              <button mat-mini-fab aria-label="Button to transfer to nothing" class="arrow_icon_background mx-1.5">
                <mat-icon fontIcon="arrow_forward" class="text-black"></mat-icon>
              </button>

              <button mat-mini-fab aria-label="Button to delete a task" class="trash_icon_background" (click)="openDeleteDialog(task, this.inProgressTasks)">
                <mat-icon fontIcon="delete" class="text-white"></mat-icon>
              </button>
            </div>
          </div>
        }
      </div>
    </mat-card>
  </div>

  <div class="container">
    <mat-card class="flex justify-center items-center p-4">
      <h2 class="mt-4 mb-1 text-2xl font-bold text-gray-800">Done</h2>
      <span class="bg-green-500 w-20 h-2 rounded-full mb-4"></span>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="doneTasks"
        [cdkDropListConnectedTo]="[todoList, inProgressList]"
        class="list w-11/12"
        (cdkDropListDropped)="drop($event)">
        @for (task of doneTasks; track task) {
          <div class="box my-2" cdkDrag>
            <span id="{{task.id}}_task_done_{{task.title}}">{{task.title}}</span>
            <div class="bg-violet-200 text-violet-700 font-bold text-base px-1 py-1 rounded-lg shadow-lg" id="{{task.id}}_deadline_done_{{task.title}}">
              {{task.deadline}}
            </div>
            <mat-icon id="{{task.id}}_task_done_{{task.title}}_icon_{{task.priority}}" aria-hidden="false" aria-label="Example home icon"
                      fontIcon="{{task.priority == TaskPriority.HIGH ? 'warning' :
                                  task.priority == TaskPriority.MEDIUM ? 'check_box' :
                                  'low_priority'}}"
            ></mat-icon>
            <div>
              <button mat-mini-fab aria-label="Button to transfer to In Progress List" class="arrow_icon_background">
                <mat-icon fontIcon="arrow_back" class="text-black"></mat-icon>
              </button>

              <button mat-mini-fab aria-label="Button to transfer to nothing" class="arrow_icon_background mx-1.5">
                <mat-icon fontIcon="arrow_forward" class="text-black"></mat-icon>
              </button>

              <button mat-mini-fab aria-label="Button to delete a task" class="trash_icon_background" (click)="openDeleteDialog(task, this.doneTasks)">
                <mat-icon fontIcon="delete" class="text-white"></mat-icon>
              </button>
            </div>
          </div>
        }
      </div>
    </mat-card>
  </div>



</div>


